@font-face { 
font-family: JoseSans;
src: url(../fonts/JosefinSans-Regular.ttf);
}

* { 
box-sizing: border-box;
margin: 0;
max-height: 100vh;
max-width: 100vw;
}

html, body {
margin: 0; 
height: 100%; 
overflow: hidden;
}

#landing { 
position: absolute;
width: 100vw;
height: 100vh;
z-index: 10;
background-color: #A3212D;
}

#appInfo { 
font-family: JoseSans;
font-size: 1.15em;
position: absolute;
top: 55vh;
padding: 4vw;
/*color: #A3212D;*/
color: #F0C800;
}

#siteLeft {
font-family: JoseSans;
font-size: 1.15em;
position: absolute;
top: 35vh;
/*color: #A3212D;*/
color: #F0C800;
}

#okButton {
font-family: JoseSans;
font-size: 1.15em;
position: absolute;
top: 35vh;
right: 5vw;
color: #A3212D;
background-color: #F0C800;
padding: 5px;
width: 18vw;
border-radius: 3px;
align-content: center;
text-align: center;
vertical-align: middle;
}

#okButton:active { 
    background-color:darkred;
    color: darkred;
}

#loading { 
width: 20vw;
height: 20vw;
margin-left: 40vw;
margin-top: 70vw;
z-index: 20;
font-size: 3em;
color: white;
animation-duration: 3s;
animation-name: spin;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

#map-container { 
width: 100vw;
height: 100vw;
position: fixed;
z-index: 0;
}
#map-hide {
    position: fixed;
}
#map {
width: 100%;
height: 100%;
z-index: 0;
} 

#videoButton { 
width: 40vw;
height: 5vh; 
border-radius: 2.5vw;
background-color: aqua; 
padding: 2%;
text-align: center;
margin-left: 30vw;
margin-top: 5vh;
color: white; 
z-index: 0;
}

#player { 
z-index: 0;
width: 100vw;
height: 100vh;
}

.button { 
cursor: pointer;
position: absolute;
bottom: 0vh;
left: 20vw;
width: 60vw;
height: 10vw;
z-index: 20;
}

.button h2 { 
text-align: center;
vertical-align: middle;
color: white;
font-size: 3em;
}

.backButton { 
position: absolute;
bottom: 40vh;
left: 30vw; 
width: 40vw; 
height: 10vh; 
z-index: 20; 
background-color: cadetblue;
}

#content { 
position: absolute;
width: 100vw;
height: 90vh;
opacity: 0.90;
top: 10vh;
background-color: azure;
z-index: 10;
}



@keyframes spin { 
    from { 
    transform: rotate(0deg);
    }
    to { 
    transform: rotate(360deg);
    }
}

