@font-face { 
font-family: JoseSans;
src: url(../fonts/JosefinSans-Regular.ttf);
}

* { 
box-sizing: border-box;
margin: 0;
max-height: 100vh;
max-width: 100vw;
}

html, body {
margin: 0; 
height: 100%; 
overflow: hidden;
}

#infoButton { 
position: absolute;
right: 1vw;
top: 1vw;
z-index: 20;
color: white;
background-image: url(../imgs/info.png);
background-size: contain;
background-repeat: no-repeat;
width: 5vw;
height: 5vw;
cursor: pointer;
}

#landing { 
position: absolute;
width: 100vw;
height: 100vh;
z-index: 10;
background-color: #A3212D;
}

#appInfo { 
font-family: JoseSans;
font-size: 1.15em;
position: absolute;
top: 55vh;
padding: 4vw;
/*color: #A3212D;*/
color: #F0C800;
}

#siteLeft {
display: none;
font-family: JoseSans;
font-size: 1.15em;
position: absolute;
top: 35vh;
/*color: #A3212D;*/
color: #F0C800;
}

#okButton {
display: none;
cursor: pointer;
font-family: JoseSans;
font-size: 1.15em;
position: absolute;
top: 35vh;
right: 5vw;
color: #A3212D;
background-color: #F0C800;
padding: 5px;
width: 18vw;
border-radius: 3px;
align-content: center;
text-align: center;
vertical-align: middle;
}

#okButton:active { 
    background-color:darkred;
    color: darkred;
}
#front-logo {
position: absolute;
margin-top: 4vh;
margin-left: 20vw;
background-repeat: no-repeat;
background-image: url(../imgs/MR-Logo.png);
background-size: contain;
width: 60vw;
height: 100%;
}

#loading {
position: absolute;
background-size: contain;
background-repeat: no-repeat;
top: -8vw;
width: 70vw;
height: 100%;
margin-left: 15vw;
z-index: 20;
font-size: 3em;
color: white;
animation-duration: 1s;
animation-name: spin;
animation-timing-function: linear;
animation-iteration-count: infinite;
}

#background { 
background-color: #A3212D;
width: 100vw;
height: 100vh;
}

#mapmask { 
position: absolute;
background-image: url(../imgs/MapMask.png);
background-repeat: no-repeat;
background-size: contain;
width: 90vw;
top: 20vh;
height: 90vw;
left: 5vw;
z-index: 5;
}

#map-container { 
width: 90vw;
height: 90vw;
position: fixed;
top: 20vh;
z-index: 0;
left: 5vw;
}
#map-hide {
    position: fixed;
}
#map {
width: 100%;
height: 100%;
z-index: 0;
} 

#nearest { 
position: absolute;
top: 15vh;
width: 100vw;
font-family: JoseSans;
color: #F0C800;
font-size: 1.2em;
text-align: center;
}

#videoButton { 
width: 40vw;
height: 5vh; 
border-radius: 2.5vw;
background-color: aqua; 
padding: 2%;
text-align: center;
margin-left: 30vw;
margin-top: 5vh;
color: white; 
z-index: 0;
}

#player { 
z-index: 0;
width: 100vw;
height: 100vh;
}

.button { 
cursor: pointer;
position: absolute;
bottom: 0vh;
left: 20vw;
width: 60vw;
height: 10vw;
z-index: 20;
}

.button h2 { 
text-align: center;
vertical-align: middle;
color: white;
font-size: 3em;
transform: scale(4,1);
}


.backButton { 
position: absolute;
bottom:15vh;
left: 30vw; 
width: 40vw; 
height: 10vh; 
z-index: 20; 
background-color: #A3212D;
color: white;
text-align: center;
vertical-align: middle;
padding: 2vh;
border-radius: 30%;
}

#content { 
display: none;
font-family: JoseSans;
position: absolute;
width: 100vw;
height: 90vh;
opacity: 0.9;
top: 10vh;
background-color: #2800EE;
z-index: 10;
}

#siteTitle { 
font-family: JoseSans;
font-size: 4.5vw;
margin: 2.5vw;
color: white;
}

#siteInfo { 
font-family: JoseSans;
font-size: 3.8vw;
margin: 2.5vw;
color: white;
}



@keyframes spin { 
    0% {background-image: url(../imgs/loading/buffalo_01.png);}
    10% {background-image: url(../imgs/loading/buffalo_02.png);}
    20% {background-image: url(../imgs/loading/buffalo_03.png);}
    30% {background-image: url(../imgs/loading/buffalo_04.png);}
    40% {background-image: url(../imgs/loading/buffalo_05.png);}
    50% {background-image: url(../imgs/loading/buffalo_06.png);}
    60% {background-image: url(../imgs/loading/buffalo_07.png);}
    70% {background-image: url(../imgs/loading/buffalo_08.png);}
    80% {background-image: url(../imgs/loading/buffalo_09.png);}
    90% {background-image: url(../imgs/loading/buffalo_10.png);}
    100% {background-image: url(../imgs/loading/buffalo_11.png);}
}


